@model Dto.TaxSystem.TaxForCreation
<style>
    tr th{
        color: #fff;
    }

    tr td, div.row{
        color: #fff;
    }

    button.float-end {
        margin-top: 1px;
        margin-bottom: 3px;
    }
</style>

<form action="~/Tax/AddNewTax" method="post">
    <div class="col-sm-10">

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">Sales Account</div>
                    <div class="col-sm-8">
                        <select class="form-control" asp-for="SalesAccountId">
                            <option value="20300">
                                Sales Tax
                            </option>
                        </select>
                        <span asp-validation-for="SalesAccountId" class="danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Purchase Account</div>
                    <div class="col-sm-8">
                        <select class="form-control" asp-for="PurchaseAccountId">
                            <option value="50700">
                                Purchase Tax
                            </option>
                        </select>
                        <span asp-validation-for="PurchaseAccountId" class="danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Tax Group</div>
                    <div class="col-sm-8">
                        <select class="form-control" asp-for="TaxGroupId" asp-items="@ViewBag.TaxGroups" id="optTaxGroups"></select>
                        <span asp-validation-for="TaxGroupId" class="danger"></span>
                        <button type="button" class="btn-primary float-end" data-bs-toggle="modal" data-bs-target="#taxGroup">
                            Create New
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Item Tax Group</div>
                    <div class="col-sm-8">
                        <select class="form-control" asp-for="ItemTaxGroupId" asp-items="@ViewBag.ItemTaxGroups" id="optItemTaxGroups"></select>
                        <span asp-validation-for="ItemTaxGroupId" class="danger"></span>
                        <button type="button" class="btn-primary float-end" data-bs-toggle="modal" data-bs-target="#itemTaxGroup">
                            Create New
                        </button>
                    </div>
                </div>
             </div>
         </div>
         <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-3">Tax Name</div>
                            <div class="col-sm-9">
                                <input asp-for="TaxName" class="form-control" type="text" placeholder="Tax Name" />
                                <span asp-validation-for="TaxName" class="danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">Rate</div>
                            <div class="col-sm-9">
                                <input asp-for="Rate" class="form-control" type="number" step="any" placeholder="Rate" />
                                <span asp-validation-for="Rate" class="danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-3">Tax Code</div>
                            <div class="col-sm-9">
                                <input asp-for="TaxCode" class="form-control" type="text" placeholder="Tax Code" />
                                <span asp-validation-for="TaxCode" class="danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">Active</div>
                            <div class="col-sm-9">
                                <input asp-for="IsActive" class="form-check" type="checkbox"/>
                                <span asp-validation-for="IsActive" class="danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    <div class="col-md-9">
        <input id="btnSave" class="btn btn-sm btn-primary btn-flat pull-left" type="submit" value="Save" />
        <a href="~/tax/taxes" class="btn btn-sm btn-default btn-flat pull-left">Close</a>
    </div>
</form>

@* Tax Group Modal *@
<div class="modal fade" id="taxGroup" tabindex="-1" aria-labelledby="taxGroupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taxGroupLabel">Add New Tax Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <div class="col-sm-4">Description</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">TaxAppliedToShipping</div>
                        <div class="col-sm-8">
                            <input type="checkbox" class="form-check" id="recipient-name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">Is Active</div>
                        <div class="col-sm-8">
                            <input type="checkbox" class="form-check" id="recipient-name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary btn-flat">Save</button>
                <button type="button" class="btn btn-sm btn-default btn-flat" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@* Item Tax Group Modal *@
<div class="modal fade" id="itemTaxGroup" tabindex="-1" aria-labelledby="itemTaxGroupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemTaxGroupLabel">Add New Item Tax Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <div class="col-sm-4">Name</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">IsFullyExempt</div>
                        <div class="col-sm-8">
                            <input type="checkbox" class="form-check" id="recipient-name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary btn-flat">Save</button>
                <button type="button" class="btn btn-sm btn-default btn-flat" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>