@model string

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">Taxes</a></li>
        <li><a href="#tab_2" data-toggle="tab">Tax Groups</a></li>
        <li><a href="#tab_3" data-toggle="tab">Item Tax Groups</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">            
            <div id="taxes" class="ag-fresh"></div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            <div id="taxGroups" class="ag-fresh"></div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
            <div id="itemTaxGroups" class="ag-fresh"></div>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>

<script>
    var Dto = @Html.Raw(Model);

    var columnDefsTaxes = [
    {headerName: "Tax", field: "id", width: 50},
    {headerName: "Code", field: "taxCode", width: 100},
    {headerName: "Name", field: "taxName", width: 350},
    {headerName: "Rate", field: "rate", width: 100},
    {headerName: "Active", field: "isActive", width: 100},
    ];

    var gridOptionsTaxes = {
        columnDefs: columnDefsTaxes,
        rowData: Dto.taxes,
        // PROPERTIES
        rowSelection: 'multiple',
    };

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#taxes');
        new agGrid.Grid(eGridDiv, gridOptionsTaxes);
    });

    var columnDefsTaxGroups = [
    {headerName: "Tax Group", field: "id", width: 50},
    {headerName: "Description", field: "description", width: 350},
    {headerName: "Applied To Shippine", field: "isAppliedToShipping", width: 100},
    {headerName: "Active", field: "isActive", width: 100},
    ];

    var gridOptionsTaxGroups = {
        columnDefs: columnDefsTaxGroups,
        rowData: Dto.taxGroups,
        // PROPERTIES
        rowSelection: 'multiple',
    };

    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#taxGroups');
        new agGrid.Grid(eGridDiv, gridOptionsTaxGroups);
    });

    var columnDefsItemTaxGroups = [
    {headerName: "Item Tax Group", field: "id", width: 50},
    {headerName: "Name", field: "name", width: 350},
    {headerName: "Is Fully Exempt", field: "isFullyExempt", width: 100},
    ];

    var gridOptionsItemTaxGroups = {
        columnDefs: columnDefsItemTaxGroups,
        rowData: Dto.itemTaxGroups,
        // PROPERTIES
        rowSelection: 'multiple',
    };

    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#itemTaxGroups');
        new agGrid.Grid(eGridDiv, gridOptionsItemTaxGroups);
    });
</script>
