@model Web.Models.ViewModels.Administration.CreateBulkInvoice
@{
    ViewBag.Title = "BulkInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate Monthly Invoice (HOA Association Dues)</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label class="col-md-2 control-label">Invoice Date:</label>
        @Html.DisplayFor(m => m.InvoiceDate)
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Payment Due Date:</label>
        @Html.DisplayFor(m => m.DueDate)
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Total Amount Per Invoice:</label>
        @Html.DisplayFor(m => m.TotalAmountPerInvoice)
    </div>
    <div class="form-group">
        <input type="submit" value="Generate Invoie" name="GenerateBulkInvoice" />
    </div>
}