<div class="row">
    <div class="col-md-6">
        @Html.Partial("~/Views/Dashboard/_MonthlySales.cshtml")
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
</div>
