@inject IConfiguration _configuration

<div class="d-flex flex-column align-items-center my-5">
    <img src="~/images/gbd/logo2_trans.png" alt="Good Deed Books Logo" class="img-fluid" style="max-width: 100px;" />
    <p class="mt-3 text-light fw-bold fs-5">
        @_configuration["GoodDeeds:SuperOrganizationName"]
    </p>
</div>


<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <partial name="~/Views/Dashboard/_MonthlySales.cshtml" />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
