@inject IConfiguration _configuration
<div class="bg-darkPrimary p-4">
    <p class="text-white">This div has a dark primary background.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="~/images/gbd/logo.png" alt="Good Deed Books Logo" class="img-fluid mx-auto d-block" id="main-logo"
            style="width: 50%;" />
    </div>
    <div class="col-md-12">
        <center>
            <p style="color: white;">@_configuration["GoodDeeds:SuperOrganizationName"]</p>
        </center>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <partial name="~/Views/Dashboard/_MonthlySales.cshtml" />
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-6">
        @* <component type="typeof(Students)" render-mode="ServerPrerendered" /> *@
        @* <component type="typeof(Counter)" render-mode="ServerPrerendered" /> *@
    </div>
    <div class="col-md-6">
    </div>
</div>
