<h1>Sales Order Form</h1>


<div class="panel panel-default">
    <div class="panel-body">
        <form class="row">
            <div class="col-md-2 form-group-sm">
                <label>Date</label>
                <input class="form-control" type="text" [(ngModel)]="salesOrder.date" />
            </div>


            <div class="col-md-2 form-group-sm">
                <label>Store</label>
                <select class="form-control" [(ngModel)]="salesOrder.store">
                    <option>Store 1</option>
                </select>
            </div>


            <div class="col-md-2 form-group-sm">
                <label>Customer</label>
                <input type="text" class="form-control" [(ngModel)]="salesOrder.customer" />
            </div>



            <div class="col-md-2 form-group-sm">
                <label>&nbsp;</label>
                <select class="form-control">
                    <option>Jackson Ryan</option>
                </select>
            </div>



            <div class="col-md-2 form-group-sm">
                <label>Price Type</label>
                <select class="form-control" [(ngModel)]="salesOrder.priceType"><option>Retail</option></select>
            </div>


            <div class="col-md-2 form-group-sm">
                <label>Refs</label>
                <input type="text" class="form-control" [(ngModel)]="salesOrder.refs" />
            </div>

        </form>
    </div>
</div>

<div class="panel panel-primary" *ngIf="action">
    <div class="panel-heading">
        <div>{{action}} Item<button class="ag-icon pull-right" (click)="action=''"><span class="glyphicon glyphicon-remove"></span></button></div>        
    </div>

    <div class="panel-body">
        <form>
            <div class="col-md-3">
                <div class="form-group-sm">
                    <label>Item Code</label>
                    <input type="text" class="form-control" />
                </div>

                <div class="form-group-sm">
                    <label>Price</label>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group-sm">
                    <label>Item Name</label>
                    <input type="text" class="form-control" />
                </div>

                <div class="form-group-sm">
                    <label>Amount</label>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group-sm">
                    <label>Qty</label>
                    <input type="text" class="form-control" />
                </div>

                <div class="form-group-sm">
                    <label>Discount</label>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group-sm">
                    <label>Unit</label>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-md-12">
                <button class="btn btn-primary btn-sm pull-right">Save Changes</button>
            </div>
        </form>

        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-condensed table-bordered">
            <colgroup>
                <col style="width: 28px;" />
                <col style="width: 28px;" />
            </colgroup>

            <thead>
                <tr>
                    <td><button class="ag-icon" (click)="action='Add'"><span class="glyphicon glyphicon-plus"></span></button></td>
                    <td></td>
                    <td>Item Code</td>
                    <td>Item Name</td>
                    <td>Qty</td>
                    <td>Unit</td>
                    <td>Price</td>
                    <td>Amount</td>
                    <td>Discount</td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="#salesOrder of salesOrder.items">
                    <td><button class="ag-icon" (click)="action='Edit'"><span class="glyphicon glyphicon-pencil"></span></button></td>
                    <td><button class="ag-icon"><span class="glyphicon glyphicon-trash"></span></button></td>
                    <td>{{salesOrder.itemCode}}</td>
                    <td>{{salesOrder.itemName}}</td>
                    <td>{{salesOrder.qty}}</td>
                    <td>{{salesOrder.unit}}</td>
                    <td>{{salesOrder.price}}</td>
                    <td>{{salesOrder.amount}}</td>
                    <td>{{salesOrder.discount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>