@model string

<div>
    <a href="~/inventory/item" class="btn">
        <i class="fa fa-plus"></i>
        New Item
    </a>
    <a href="~/inventory/item" id="linkViewItem" class="btn inactiveLink">
        <i class="fa fa-edit"></i>
        View
    </a>
</div>
<div>
    <div id="items" class="ag-fresh" style="height: 400px;"></div>
</div>
<script>
    var columnDefs = [
    {headerName: "Item", field: "id", width: 50, cellRenderer: function(params) {
        return '<a href="item/' + params.value + '">' + params.value + '</a>';
    }},
    {headerName: "Code", field: "code", width: 100},
    {headerName: "Description", field: "description", width: 350},
    {headerName: "Measurement", field: "measurement", width: 100},
    {headerName: "Item Tax Group", field: "itemTaxGroupName", width: 100},
    {headerName: "Cost", field: "cost", width: 100},
    {headerName: "Price", field: "price", width: 100},
    {headerName: "On Hand", field: "quantityOnHand", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        enableSorting: true,
        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        document.getElementById('linkViewItem').setAttribute('href', 'item/' + selectedRow.id);
        document.getElementById('linkViewItem').setAttribute('class', 'btn');
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#items');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>