@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@* @using Microsoft.AspNetCore.Http.Authentication *@

@model AccountGoWeb.Models.Account.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AccountGo | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Icons-->
    <link href="~/css/coreui/icons/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application-->
    @* <link href="~/css/dark.css" rel="stylesheet"> *@
    <link href="/css/output.css" rel="stylesheet">
    @* <link href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css" rel="stylesheet"> *@
</head>

<body class="flex items-center justify-center min-h-screen bg-darkPrimary">
    <div class="w-full max-w-md bg-darkSecondary shadow-lg rounded-lg p-6 text-white border border-s-white">
        <h1 class="text-2xl font-bold text-center mb-4">AccountGo</h1>
        <p class="text-sm text-center mb-6">Sign In to your account</p>
        <form action="/account/signin?returnurl=@ViewData["ReturnUrl"]" method="post" class="space-y-6">
            <!-- Email -->
            <div class="relative">
                <label asp-for="Email" class="block font-medium mb-2">Email</label>
                <div class="flex items-center border rounded-lg px-3 py-2 focus-within:ring-2 focus-within:ring-blue-500">
                    <i class="icon-user text-gray-400"></i>
                    <input asp-for="Email" class="flex-1 ml-2 outline-none placeholder-gray-400 bg-darkSecondary bg-opacity-50 border-0" placeholder="admin@accountgo.ph" />
                </div>
                <span asp-validation-for="Email" class="text-red-500 text-sm mt-1 block"></span>
            </div>

            <!-- Password -->
            <div class="relative">
                <label asp-for="Password" class="block font-medium mb-2">Password</label>
                <div class="flex items-center border rounded-lg px-3 py-2 focus-within:ring-2 focus-within:ring-blue-500">
                    <i class="icon-lock text-gray-400"></i>
                    <input asp-for="Password" type="password" class="flex-1 ml-2 outline-none placeholder-gray-400 bg-darkSecondary bg-opacity-50 border-0" placeholder="P@ssword1" />
                </div>
                <span asp-validation-for="Password" class="text-red-500 text-sm mt-1 block"></span>
            </div>

            <!-- Remember Me -->
            <div class="flex items-center space-x-2">
                <input asp-for="RememberMe" type="checkbox" class="w-4 h-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
                <label class="text-sm">@Html.DisplayNameFor(m => m.RememberMe)</label>
            </div>

            <!-- Login Button -->
            <div>
                <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500">
                    Login
                </button>
            </div>
        </form>
    </div>

    <!-- Bootstrap and necessary plugins-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.5/perfect-scrollbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@coreui/coreui@4.3.2/dist/js/coreui.bundle.min.js"></script>
</body>
    
</html>
