<base href="~/" />
<component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)" render-mode="ServerPrerendered" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="Good Deed Books - Open Source Accounting System">
<title>Good Deed Books</title>
<link rel="icon" type="image/x-icon" href="~/images/gbd/logo.png">
<!-- Icons-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<!-- Main styles for this application-->
<link href="/css/output.css" rel="stylesheet">
<link href="/css/tailwind.css" rel="stylesheet">