<!DOCTYPE html>
<html lang="en">

<head>
    <base href="~/" />
    <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)"
               render-mode="ServerPrerendered" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Good Deed Books - Open Source Accounting System">
    <title>Good Deed Books</title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
    <link rel="stylesheet" href="~/GoodBooks.styles.css" asp-append-version="true" />
    <!-- Icons-->
    @* <link href="~/css/coreui/icons/css/all.min.css" rel="stylesheet"> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
        rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="~/css/dark.css" rel="stylesheet">
    <link href="~/css/gdbdark.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css" rel="stylesheet">

</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <style>
            nav {
                position: relative;
                margin: 0px;
                top: 0;
                bottom: 0;
                width: 250px;
                background: linear-gradient(to bottom, #007b89, #007b81);
                overflow: hidden; 
            }

            nav ul {
                list-style: none;
                margin: 0;
                padding: 5px;
            }

            nav ul li {
                /* Sub Menu */

            }

            nav ul li a {
                display: block;
                padding: 12px 20px;
                color: lightblue;
                text-decoration: none;
                font-weight: bold;
                -webkit-transition: 0.2s linear;
                -moz-transition: 0.2s linear;
                -ms-transition: 0.2s linear;
                -o-transition: 0.2s linear;
                transition: 0.2s linear;
            }

            nav ul li a:hover {
                background: #1d4f71;
                color: #fff;
            }

            nav ul li a .fa {
                width: 16px;
                text-align: center;
                margin-right: 5px;
                float: right;
            }

            nav ul ul {
                background: rgba(0, 0, 0, 0.2);
            }

            nav ul li ul li a {

            border-left: 4px solid transparent;
            padding: 10px 20px;
        }

            nav ul li ul li a:hover {
                border-left: 4px solid #3498db;
            }

            nav ul::-webkit-scrollbar {
                display: none;
            }

            header.app-header {
                border-bottom: 2px solid #ccc;
                padding: 1rem 0;
            }

            header .fa-book {
                color: #f8f9fa;
            }
    </style>
    <header class="app-header navbar p-3" style="color: white; text-align: center; box-shadow: 0 4px 6px rgba(0,0,0,0.3);">
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <a href="/" class="d-flex align-items-center text-decoration-none text-white">
                <i class="fa fa-book fa-2x me-3" aria-hidden="true"></i>
                <h1 class="m-0" style="font-size: 2rem; font-weight: bold;">Good Deed Books</h1>
                <i class="fa fa-book fa-2x ms-3" aria-hidden="true"></i>
            </a>
        </div>
    </header>

    <!-- Sidebar navigation on the left -->
        <nav class='animated bounceInDown bg-dark'>
            <ul>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <div class="d-flex justify-content-start align-items-center">
                            <i class="nav-icon fa fa-dashboard me-2"></i>
                            <span>Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class='sub-menu'>
                    <a href="javascript:;" onclick="document.location.hash='#settings';">
                        <div class="d-flex justify-content-start align-items-center">
                            <i class="nav-icon fa fa-industry me-2"></i>
                            Accounts Receivable
                            <div class='fa fa-caret-right ml-auto'></div>
                        </div>
                    </a>
                    <ul>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Quotations" asp-action="Quotations">
                                Sales Quotations
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="SalesOrders">
                                Sales Orders
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="SalesReceipts">
                                Sales Receipts
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="SalesInvoices">
                                Sales Invoices
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="DonationInvoices">
                                Donation Invoices
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="Customers">
                                Customers
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='sub-menu'>
                    <a href="javascript:;" onclick="document.location.hash='#message';">
                        <div class="d-flex justify-content-start align-items-center">
                            <i class="nav-icon fa fa-link me-2"></i>
                            Accounts Payable
                            <div class='fa fa-caret-right ml-auto'></div>
                        </div>
                    </a>
                    <ul>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Purchasing" asp-action="PurchaseOrders">
                                Purchase Orders
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Purchasing" asp-action="PurchaseInvoices">
                                Purchase Invoices
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Purchasing" asp-action="Vendors">
                                Vendors
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='sub-menu'>
                    <a href="javascript:;" onclick="document.location.hash='#message';">
                        <div class="d-flex justify-content-start align-items-center">
                            <i class="nav-icon fa fa-wrench me-2"></i>
                            Inventory Control
                            <div class='fa fa-caret-right ml-auto'></div>
                        </div>
                    </a>
                    <ul>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="Index">
                                Items
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="ICJ">
                                Inventory Control Journal
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='sub-menu'>
                    <a href="javascript:;" onclick="document.location.hash='#message';">
                        <div class="d-flex justify-content-start align-items-center">
                            <i class="nav-icon fa fa-bank me-2"></i>
                            Financials
                            <div class='fa fa-caret-right ml-auto'></div>
                        </div>
                    </a>
                    <ul>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="JournalEntries">
                                Journal Entries
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="GeneralLedger">
                                General Ledgers
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Tax" asp-action="Taxes">
                                Taxes
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="Accounts">
                                Chart of Accounts
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="Banks">
                                Banks
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='sub-menu'>
                    <a href="javascript:;" onclick="document.location.hash='#message';">
                        <div class="d-flex justify-content-start align-items-center">
                            <i class="nav-icon fa fa-line-chart me-2"></i>
                            Reports
                            <div class='fa fa-caret-right ml-auto'></div>
                        </div>
                    </a>
                    <ul>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="BalanceSheet">
                                Balance Sheet
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="IncomeStatement">
                                Income Statement
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="TrialBalance">
                                Trial Balance
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='sub-menu'>
                    <a href="javascript:;" onclick="document.location.hash='#message';">
                        <div class="d-flex justify-content-start align-items-center">
                            <i class="nav-icon fa fa-group me-2"></i>
                            Organization Settings
                            <div class='fa fa-caret-right ml-auto'></div>
                        </div>
                    </a>
                    <ul>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="Company">
                                Company
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="Settings">
                                Settings
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='sub-menu'>
                    <a href="javascript:;" onclick="document.location.hash='#message';">
                        <div class="d-flex justify-content-start align-items-center">
                            <i class="nav-icon fa fa-desktop me-2"></i>
                            System Administration
                            <div class='fa fa-caret-right ml-auto'></div>
                        </div>
                    </a>
                    <ul>
                        @* @if (User.IsInRole("SystemAdministrators"))
                        { *@
                        <li>
                            <a class="nav-link" href="~/administration/users">
                                Security Users
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="~/administration/roles">
                                Security Roles
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="~/administration/groups">
                                Security Groups
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="~/administration/auditlogs">
                                Audit Logs
                            </a>
                        </li>
                    </ul>
                </li>

    <li>
        <form id="logoutForm" asp-area="" asp-controller="Account" asp-action="SignIn" method="post">
            <button type="submit" class="nav-link btn btn-link text-start text-light" style="width: 100%; padding: 12px 20px;">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="nav-icon fa fa-sign-out me-2"></i>
                    Logout
                </div>
            </button>
        </form>
    </li>

            </ul>
        </nav>


</body>
</html>