<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="_Head" />
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div class="app-body min-h-screen bg-blue-500">
        <partial name="_LeftNavigation" />
        <!-- left side navigation -->
        <div class="container-fluid">
            <div class="animated fadeIn">
                <!-- PAGE CONTENT -->
                <h2>
                    @Html.Raw(ViewBag.PageContentHeader)
                </h2>
                @RenderBody()
                <!-- /PAGE CONTENT -->
            </div>
        </div>
        </aside> 
    </div>
    <partial name="_Footer" />
    <script src="~/_framework/blazor.server.js"></script>
    <!-- PLugins and scripts required by the views -->
    @RenderSection("Scripts", required: false)
</body>
</html>