<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head" />
</head>

<body class="bg-lightPrimary text-darkPrimary">
    <div class="flex h-screen">
        <!-- left side navigation -->
        <partial name="_LeftNavigationTest" />
        <div class="flex-1 p-5 bg-lightPrimary">
            <div class>
                <!-- PAGE CONTENT -->
                <h2>
                    @Html.Raw(ViewBag.PageContentHeader)
                </h2>
                @RenderBody()
                <!-- /PAGE CONTENT -->
            </div>
        </div>
        </aside> 
    </div>
    <partial name="_Footer" />
    <script src="~/_framework/blazor.server.js"></script>
    <!-- PLugins and scripts required by the views -->
    @RenderSection("Scripts", required: false)
</body>
</html>