@using AccountGoWeb.Models.SubMenu
@model NavigationModel


@if (Model?.SubMenus != null && Model.SubMenus.Any())
{
    <div class="w-64 bg-lightSecondary text-darkPrimary dark:bg-darkSecondary dark:text-lightPrimary p-5">
        @await Html.PartialAsync("_Logo")

        <nav>
            <ul>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="MonthlySales">
                        <div class="d-flex justify-content-start">
                            <i class="nav-icon fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </div>
                    </a>
                </li>

                @foreach (var subMenu in Model.SubMenus)
                {
                    @await Html.PartialAsync("_SubMenu", subMenu)
                }

                <ul>
    using Microsoft.AspNetCore.Razor.Language.Intermediate;
                    <li><a href='#message'>Logout</a></li>
                </ul>
            </nav>
    </div>
}
else
{
    <p>No submenus available.</p>
}
