<nav class='bg-lightPrimary text-darkPrimary w-64 h-full overflow-auto'>
    <ul>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Quotations" asp-action="Quotations">
                Sales Quotations
            </a>
        </li>

        <li class='sub-menu'>
            <a href="javascript:;" onclick="document.location.hash='#settings';">
                <div class="d-flex justify-content-start">
                    <i class="nav-icon fa fa-industry"></i>
                    Accounts Receivable
                    <div class='fa fa-caret-down ml-auto'></div>
                </div>
            </a>
            <ul>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="SalesReceipts">
                        Sales Receipts
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="SalesInvoices">
                        Sales Invoices
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="DonationInvoices">
                        Donation Invoices
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="Customers">
                        Customers
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-link"></i>
                Accounts Payable
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Purchasing" asp-action="PurchaseOrders">
                    Purchase Orders
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Purchasing" asp-action="PurchaseInvoices">
                    Purchase Invoices
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Purchasing" asp-action="Vendors">
                    Vendors
                </a>
            </li>
        </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-wrench"></i>
                Inventory Control
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="Index">
                    Items
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="ICJ">
                    Inventory Control Journal
                </a>
            </li>
        </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-bank"></i>
                Financials
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="JournalEntries">
                    Journal Entries
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="GeneralLedger">
                    General Ledgers
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Tax" asp-action="Taxes">
                    Taxes
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="Accounts">
                    Chart of Accounts
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="Banks">
                    Banks
                </a>
            </li>
        </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-line-chart"></i>
                Reports
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="BalanceSheet">
                    Balance Sheet
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="IncomeStatement">
                    Income Statement
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="TrialBalance">
                    Trial Balance
                </a>
            </li>
        </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-group"></i>
                Organization Settings
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="Company">
                    Company
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="Settings">
                    Settings
                </a>
            </li>
        </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-desktop"></i>
                System Administration
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            @* @if (User.IsInRole("SystemAdministrators"))
                        { *@
            <li>
                <a class="nav-link" href="~/administration/users">
                    Security Users
                </a>
            </li>
            <li>
                <a class="nav-link" href="~/administration/roles">
                    Security Roles
                </a>
            </li>
            <li>
                <a class="nav-link" href="~/administration/groups">
                    Security Groups
                </a>
            </li>
            <li>
                <a class="nav-link" href="~/administration/auditlogs">
                    Audit Logs
                </a>
            </li>
            @* } *@
        </ul>
    </li>


    <li><a href='#message'>Logout</a></li>
    </ul>
</nav>

<style>
    /* 子菜单展开/收起的过渡效果 */
    .parent:hover .child {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .child {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    /* 箭头旋转效果 */
    .submenu-btn.active .fa-caret-down {
        transform: rotate(180deg);
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const submenuBtns = document.querySelectorAll('.submenu-btn');

        submenuBtns.forEach(btn => {
            btn.addEventListener('click', function () {
                this.classList.toggle('active');
                const submenu = this.nextElementSibling;
                submenu.classList.toggle('hidden');
                submenuBtns.forEach(otherBtn => {
                    if (otherBtn !== this) {
                        otherBtn.classList.remove('active');
                        otherBtn.nextElementSibling.classList.add('hidden');
                    }
                });
            });
        });
    });
</script>