<div class='bg-darkPrimary text-white w-64 h-full overflow-auto dark:bg-darkSecondary dark:text-lightSecondary'>

    @await Html.PartialAsync("~/Views/Shared/Components/Logo.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Components/DarkLightMode.cshtml")
    <nav class="flex flex-col justify-center">
    <div class="p-5">
        <li class="flex item-center text-lightPrimary hover:bg-lightPrimary ">
            <a class="nav-link" asp-area="" asp-controller="Quotations" asp-action="Quotations">
                Sales Quotations
            </a>
        </li>

        @* Account Receivable *@
        <li class='sub-menu'>
            <a href="javascript:;" onclick="document.location.hash='#settings';">
                <div class="d-flex justify-content-start">
                    <i class="nav-icon fa fa-industry"></i>
                    Accounts Receivable
                    <div class='fa fa-caret-down ml-auto'></div>
                </div>
            </a>
        
            <ul>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="SalesReceipts">
                        Sales Receipts
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="SalesInvoices">
                        Sales Invoices
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="DonationInvoices">
                        Donation Invoices
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="Customers">
                        Customers
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-link"></i>
                Accounts Payable
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Purchasing" asp-action="PurchaseOrders">
                    Purchase Orders
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Purchasing" asp-action="PurchaseInvoices">
                    Purchase Invoices
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Purchasing" asp-action="Vendors">
                    Vendors
                </a>
            </li>
        </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-wrench"></i>
                Inventory Control
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="Index">
                    Items
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="ICJ">
                    Inventory Control Journal
                </a>
            </li>
        </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-bank"></i>
                Financials
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="JournalEntries">
                    Journal Entries
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="GeneralLedger">
                    General Ledgers
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Tax" asp-action="Taxes">
                    Taxes
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="Accounts">
                    Chart of Accounts
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="Banks">
                    Banks
                </a>
            </li>
        </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-line-chart"></i>
                Reports
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="BalanceSheet">
                    Balance Sheet
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="IncomeStatement">
                    Income Statement
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Financials" asp-action="TrialBalance">
                    Trial Balance
                </a>
            </li>
        </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-group"></i>
                Organization Settings
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="Company">
                    Company
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="Settings">
                    Settings
                </a>
            </li>
        </ul>
    </li>
    <li class='sub-menu'>
        <a href="javascript:;" onclick="document.location.hash='#message';">
            <div class="d-flex justify-content-start">
                <i class="nav-icon fa fa-desktop"></i>
                System Administration
                <div class='fa fa-caret-down ml-auto'></div>
            </div>
        </a>
        <ul>
            @* @if (User.IsInRole("SystemAdministrators"))
                        { *@
            <li>
                <a class="nav-link" href="~/administration/users">
                    Security Users
                </a>
            </li>
            <li>
                <a class="nav-link" href="~/administration/roles">
                    Security Roles
                </a>
            </li>
            <li>
                <a class="nav-link" href="~/administration/groups">
                    Security Groups
                </a>
            </li>
            <li>
                <a class="nav-link" href="~/administration/auditlogs">
                    Audit Logs
                </a>
            </li>
            @* } *@
        </ul>
    </li>


    <li><a href='#message'>Logout</a></li>
    </ul>
    </div>
    </nav>
</div>
