@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Transactions</h2>
    <ul>
        <li>@Html.ActionLink("Direct Delivery", "AddSalesDelivery", new { direct = true })</li>
        <li>@Html.ActionLink("Direct Invoice", "AddSalesInvoice", new { direct = true })</li>
        <li>@Html.ActionLink("Delivery Against Sales Order", "AddSalesDelivery", new { direct = true })</li>
        <li>@Html.ActionLink("Invoice Against Sales Delivery", "AddSalesInvoice", new { direct = false })</li>
    </ul>
</div>
<div>
    <h2>Maintenance</h2>
</div>