@model string

<div>
    <a href="~/proposals/addsalesproposal" class="btn">
        <i class="fa fa-plus"></i>
        New Proposal
    </a>
    <a href="~/proposals/editsalesproposal" id="linkViewProposal" class="btn inactiveLink">
        <i class="fa fa-edit"></i>
        View
    </a>
    <a href="" id="linkNewOrder" class="btn inactiveLink">
        <i class="fa fa-plus"></i>
        New Order
    </a>
</div>

<div>
    <div id="proposals" class="ag-fresh" style="height: 400px;"></div>
</div>

<script>
    var columnDefs = [
    {headerName: "No", field: "no", width: 50},
    { headerName: "Customer Name", field: "customerName", width: 130 },
    {headerName: "Description", field: "description", width: 170},
    { headerName: "Delivery Date", field: "deliveryDate", width: 170 },
    {headerName: "Amount" , field: "totalAmount", width : 130}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        enableSorting: true,
        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        document.getElementById('linkViewProposal').setAttribute('href', 'Quotation?id=' + selectedRow.id);
        document.getElementById('linkViewProposal').setAttribute('class', 'btn');

        if(selectedRow.status == 3)
        {
            document.getElementById('linkNewOrder').setAttribute('class', 'btn inactiveLink');
        }
        else if (selectedRow.status == 1){
            document.getElementById('linkNewOrder').setAttribute('href', '/sales/salesorder?quotationId=' + selectedRow.id);
            document.getElementById('linkNewOrder').setAttribute('class', 'btn');
        }
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#proposals');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>
