@model Web.Models.ViewModels.Sales.SalesHeaderViewModel
@{
    Layout = null;
}

<h2>Sales Order</h2>

<div>
    <div class="form-group">
        <label class="col-md-2 control-label">Customer</label>
        @*@Html.DropDownListFor(m => m.CustomerId, ModelViewHelper.Customers())*@
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Payment Term</label>
        @*@Html.DropDownListFor(m => m.PaymentTermId, ModelViewHelper.PaymentTerms())*@
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Date</label>
        @Html.DisplayFor(m => m.Date)
    </div>
</div>
