@model string

<div>
</div>
<div>
    <div id="masterGL" class="ag-blue" style="height:500px;"></div>
</div>
<script>
    var columnDefs = [
        { headerName: "Transaction", field: "groupId", width: 50, cellRenderer: "agGroupCellRenderer" },
        { headerName: "Account", field: "accountName", width: 350 },
        { headerName: "Debit", field: "debit", width: 100 },
        { headerName: "Credit", field: "credit", width: 100 },
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        animateRows: true,
        enableRangeSelection: true,
        rowData: null,
        enableSorting: true,
        enableFilter: true,
        getNodeChildDetails: function(data) {
            console.log(data);
            if (data.childMasterGeneralLedger.length > 0) {
                return {
                    group: true,
                    children: data.childMasterGeneralLedger,
                    key: "Transaction #" + data.groupId
                };
            } else {
                return null;
            }
        },
        icons: {
            groupExpanded: '<i class="fa fa-minus-square-o"/>',
            groupContracted: '<i class="fa fa-plus-square-o"/>'
        },
    };

    function autoSizeAll() {
        var allColumnIds = [];
        columnDefs.forEach(function (columnDef) {
            allColumnIds.push(columnDef.field);
        });
        gridOptions.columnApi.autoSizeColumns(allColumnIds);
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function () {
        var eGridDiv = document.querySelector('#masterGL');
        new agGrid.Grid(eGridDiv, gridOptions);
        gridOptions.api.setRowData(@Html.Raw(Model));
        autoSizeAll();
    });
</script>