@model string

<div>
</div>
<div>
    <div id="journalentries" class="ag-fresh" style="height: 400px;"></div>
</div>
<script>
    var columnDefs = [
    {headerName: "Journal", field: "id", width: 50},
    {headerName: "Parent", field: "journalHeaderId", width: 50},
    {headerName: "Account", field: "accountName", width: 350},
    {headerName: "GL", field: "generalLedgerHeaderId", width: 50},
    {headerName: "Amount", field: "amount", width: 100},
    {headerName: "DrOrCr", field: "drCr", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        // PROPERTIES
        rowSelection: 'multiple',
    };

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#journalentries');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>