@model string

<div class="w-full grid grid-cols-1 gap-4">
    <div class="flex gap-2 mb-4">
        <a href="~/financials/addjournalentry" class="px-4 py-2 bg-darkSecondary text-white rounded hover:bg-opacity-90">
            <i class="fa fa-plus"></i>
            New
        </a>
        <a href="~/financials/journalentry" id="linkViewJournalEntry" class="px-4 py-2 bg-gray-400 text-white rounded disabled">
            <i class="fa fa-edit"></i>
            View
        </a>
    </div>
    <div class="bg-white dark:bg-gray-800">
        <div id="journalentries" class="ag-fresh overflow-hidden rounded-lg shadow-md border-2 border-gray-200" style="height: 400px;"></div>
    </div>
</div>
<script>
    var columnDefs = [
    {headerName: "Journal", field: "id"},
    {headerName: "Voucher Type", field: "voucherType"},
    {headerName: "Debit", field: "debitAmount"},
    {headerName: "Credit", field: "creditAmount"},
    {headerName: "Date", field: "journalDate"},
    {headerName: "Reference No", field: "referenceNo"},
    {headerName: "Posted", cellRenderer: function(val) {
        if(val.data.posted)
            return '<input type="checkbox" checked disabled />';
        return '<input type="checkbox" disabled />';
    }},
    {headerName: "Memo", field: "memo", width: 350}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        // PROPERTIES
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        document.getElementById('linkViewJournalEntry').setAttribute('href', 'journalentry?id=' + selectedRow.id);
        document.getElementById('linkViewJournalEntry').setAttribute('class', 'btn');
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#journalentries');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>