@model string

<div>
    <a href="~/financials/addjournalentry"><i class="fa fa-plus margin-a"></i>New</a>
    <a href="~/financials/journalentry" id="linkViewJournalEntry" class="inactiveLink"><i class="fa fa-edit margin-a"></i>View</a>
</div>
<div>
    <div id="journalentries" class="ag-fresh" style="height: 400px;"></div>
</div>
<script>
    var columnDefs = [
    {headerName: "Journal", field: "id", width: 50},
    {headerName: "Voucher Type", field: "voucherType", width: 50},
    {headerName: "Debit", field: "debitAmount", width: 50},
    {headerName: "Credit", field: "creditAmount", width: 50},
    {headerName: "Date", field: "journalDate", width: 100},
    {headerName: "Reference No", field: "referenceNo", width: 50},
    {headerName: "Posted", field: "posted", width: 100, },
    {headerName: "Memo", field: "memo", width: 350}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        // PROPERTIES
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];
        
        document.getElementById('linkViewJournalEntry').setAttribute('href', 'journalentry?id=' + selectedRow.id);
        document.getElementById('linkViewJournalEntry').setAttribute('class', '');
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#journalentries');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>