<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AccountGo</title>
    <base href="/" />

    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/bootstrap-theme-cosmo/cosmo.min.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
</head>
<body>
    <app>Loading...</app>
    <div class="container body-content">        
        @RenderBody()
    </div>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/respond/src/respond.js"></script>

    <!-- IE required polyfills, in this exact order -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.1/es6-shim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system-polyfills.js"></script>
    <script src="https://npmcdn.com/angular2/es6/dev/src/testing/shims_for_IE.js"></script>

    <!-- Angular polyfill required everywhere -->
    <script src="https://code.angularjs.org/2.0.0-beta.9/angular2-polyfills.js"></script>

    <script src="https://code.angularjs.org/tools/system.js"></script>
    <script src="https://code.angularjs.org/tools/typescript.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.9/Rx.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.9/angular2.dev.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.9/router.dev.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.9/http.dev.js"></script>

    <script>
        //System.config({
        //    packages: {'app': {defaultExtension: 'js'}}
        //});
        System.config({
            transpiler: 'typescript',
            typescriptOptions: { emitDecoratorMetadata: true },
            packages: { 'app': { defaultExtension: 'ts' } }
        });
        System.import('./app/boot').catch(console.log.bind(console));
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
