@model Web.Models.ViewModels.Administration.ItemTaxGroupViewModel
@{
    ViewBag.Title = "ItemTaxGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Tax Group</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Tax Name</th>
                    <th>Rate</th>
                    <th>Is Exempt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemTaxGroupTax in Model.ItemTaxGroupTaxes)
                {
                    <tr>
                        <td>@itemTaxGroupTax.TaxName</td>
                        <td>@itemTaxGroupTax.Rate</td>
                        <td>@itemTaxGroupTax.IsExempt</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}