@model Web.Models.ViewModels.Items.Items.AddItem
@{
    ViewBag.Title = "AddItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Item</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-2 control-label">Code</label>
            @Html.TextBoxFor(m => m.Code)
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            @Html.TextBoxFor(m => m.Description)
        </div>
        @*<div class="form-group">
            <label class="col-md-2 control-label">Item Type</label>
            @Html.DropDownListFor(m => m.ItemType, Model.ItemTypes)
        </div>*@
        <div>
            <input type="submit" value="Save" name="SaveItem" />
        </div>
    </div>
}