@model Web.Models.ViewModels.Sales.Customers
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("Add Customer", "AddOrEditCustomer", "Sales")
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.CustomerListLines)
        {
            <tr>
                <td>@Html.ActionLink((string)string.Format("{0}", customer.Name), "CustomerDetail", new { id = customer.Id })</td>
                <td>@customer.Balance</td>
            </tr>
        }
    </tbody>
</table>