@model string

<div>
    <a href="~/purchasing/addpurchaseorder" class="btn">
        <i class="fa fa-plus"></i>
        New Order
    </a>
    <a href="~/purchasing/purchaseorder" id="linkViewOrder" class="btn inactiveLink">
        <i class="fa fa-edit"></i>
        View
    </a>
    <a href="~/purchasing/addpurchaseinvoice" id="linkCreateInvoice" class="btn inactiveLink">
        <i class="fa fa-plus"></i>
        Create Invoice
    </a>
</div>
<div>
    <div id="purchaseorders" class="ag-fresh" style="height: 400px;"></div>
</div>
<script>
    var columnDefs = [
        {headerName: "No", field: "no", width: 50},
        {headerName: "Vendor Name", field: "vendorName", width: 350},
        {headerName: "Order Date", field: "orderDate", width: 100},
        {headerName: "Amount", field: "amount", width: 100},
        {headerName: "Ref no", field: "referenceNo", width: 100},
        {headerName: "Status", field: "status", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        enableSorting: true,
        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        //document.getElementById('linkNewReceipt').setAttribute('href', 'addreceipt?purchId=' + selectedRow.id);
        document.getElementById('linkCreateInvoice').setAttribute('href', 'addpurchaseinvoice?purchId=' + selectedRow.id);
        document.getElementById('linkViewOrder').setAttribute('href', 'purchaseorder?purchId=' + selectedRow.id);

        if(selectedRow.purchaseInvoiceHeaderId === undefined){
            document.getElementById('linkCreateInvoice').setAttribute('class', 'btn');
        }
        else{
            document.getElementById('linkCreateInvoice').setAttribute('class', 'btn inactiveLink');
        }

        document.getElementById('linkViewOrder').setAttribute('class', 'btn');

        // If SalesOrderStatus is Fully Invoiced, disable New Invoice link
        if(selectedRow.status == 3)
        {
            document.getElementById('linkCreateInvoice').setAttribute('class', 'btn inactiveLink');

        }

        //if(selectedRow.completed)
        //{
        //    document.getElementById('linkCreateInvoice').setAttribute('class', '');
        //    document.getElementById('linkNewReceipt').setAttribute('class', 'inactiveLink');
        //}
        //else
        //{
        //    document.getElementById('linkCreateInvoice').setAttribute('class', 'inactiveLink');
        //    document.getElementById('linkNewReceipt').setAttribute('class', '');
        //}
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#purchaseorders');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>