<div>
    <a href="~/purchasing/addpurchaseinvoice">Add</a>
</div>
<div>
    <div id="purchaseinvoices" class="ag-fresh" style="height: 400px;"></div>
</div>
<script>
    var columnDefs = [
        {headerName: "Invoice", field: "id", width: 50},
        {headerName: "Vendor Name", field: "vendorName", width: 350},
        {headerName: "Invoiced Date", field: "invoiceDate", width: 100},
        {headerName: "Amount", field: "Amount", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),

        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'multiple',
     };

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#purchaseinvoices');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>