@model string

<div class="w-full grid grid-cols-1 gap-4">
    <div class="flex gap-2 mb-4">
        <a href="~/purchasing/addpurchaseinvoice" class="px-4 py-2 bg-darkSecondary text-white rounded hover:bg-opacity-90">
            <i class="fa fa-plus margin-a"></i>
            New Invoice
        </a>
        <a href="~/purchasing/purchaseinvoice" id="linkViewInvoice" class="px-4 py-2 bg-gray-400 text-white rounded disabled">
            <i class="fa fa-edit margin-a"></i>
            View
        </a>
        <a href="~/purchasing/payment" id="linkMakePayment" class="px-4 py-2 bg-gray-400 text-white rounded disabled">
            <i class="fa fa-tasks margin-a"></i>
            Make Payment
        </a>
    </div>
    <div class="bg-white dark:bg-gray-800">
        <div id="purchaseinvoices" class="ag-fresh overflow-hidden rounded-lg shadow-md border-2 border-gray-200" style="height: 400px;"></div>
    </div>
</div>
<script>
    var columnDefs = [
        {headerName: "No", field: "no", width: 50},
        {headerName: "Vendor Name", field: "vendorName", width: 350},
        {headerName: "Invoice Date", field: "invoiceDate", width: 100},
        {headerName: "Amount", field: "amount", width: 100},
        {headerName: "Ref no", field: "referenceNo", width: 100},
        {headerName: "Posted", width: 100, cellRenderer: function(val) {
            if(val.data.posted)
                return '<input type="checkbox" checked disabled />';
            return '<input type="checkbox" disabled />';
        }},
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        enableSorting: true,
        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        document.getElementById('linkMakePayment').setAttribute('href', 'payment/' + selectedRow.id);
        document.getElementById('linkViewInvoice').setAttribute('href', 'purchaseinvoice?id=' + selectedRow.id);

        if(!selectedRow.isPaid && selectedRow.posted)
            document.getElementById('linkMakePayment').setAttribute('class', 'btn');
        else
            document.getElementById('linkMakePayment').setAttribute('class', 'btn inactiveLink');

        document.getElementById('linkViewInvoice').setAttribute('class', 'btn');
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#purchaseinvoices');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>