@model string

<div class="w-full grid grid-cols-1 gap-4">
    <div class="flex gap-2 mb-4">
        <a href="~/purchasing/vendor" class="px-4 py-2 bg-darkSecondary text-white rounded hover:bg-opacity-90">
            <i class="fa fa-plus"></i>
            New Vendor
        </a>
        <a href="~/purchasing/vendor" id="linkViewVendor" class="px-4 py-2 bg-gray-400 text-white rounded disabled">
            <i class="fa fa-edit"></i>
            View
        </a>
    </div>
    <div class="bg-white dark:bg-gray-800">
        <div id="vendors" class="ag-fresh overflow-hidden rounded-lg shadow-md border-2 border-gray-200" style="height: 400px;"></div>
    </div>
</div>
<script>
    var columnDefs = [
        {headerName: "No", field: "no", width: 50, cellRenderer: function(params) {
            return '<a href="vendor/' + params.value + '">' + params.value + '</a>';
        }},
        {headerName: "Name", field: "name", width: 350},
        {headerName: "Phone", field: "phone", widt: 100 },
        {headerName: "Contact", field: "contact", width: 100},
        {headerName: "TaxGroup", field : "taxGroup", width : 100},
        {headerName: "Balance", field: "balance", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),

        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        document.getElementById('linkViewVendor').setAttribute('href', 'vendor/' + selectedRow.id);
       // document.getElementById('linkViewClient').setAttribute('href', 'contact?id=' + selectedRow.id + '&partyId=' + selectedRow.holdingPartyId + '&partyType=' + selectedRow.holdingPartyType);
        document.getElementById('linkViewVendor').setAttribute('class', 'btn');
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#vendors');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>