@model string

<div>
    <a href="~/purchasing/addvendor"><i class="fa fa-plus margin-a"></i>New Vendor</a>
</div>
<div>
    <div id="vendors" class="ag-fresh" style="height: 400px;"></div>
</div>
<script>
    var columnDefs = [
        {headerName: "Id", field: "id", width: 50, cellRenderer: function(params) {
            return '<a href="vendor/' + params.value + '">' + params.value + '</a>';
        }},
        {headerName: "Vendor Name", field: "name", width: 350},
        {headerName: "Balance", field: "balance", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),

        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'multiple',
     };

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#vendors');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>