@model string

<div>
    <a href="~/purchasing/vendor" class="btn">
        <i class="fa fa-plus"></i>
        New Vendor
    </a>
    <a href="~/purchasing/vendor" id="linkViewVendor" class="btn inactiveLink">
        <i class="fa fa-edit"></i>
        View
    </a>
</div>
<div>
    <div id="vendors" class="ag-fresh" style="height: 400px;"></div>
</div>
<script>
    var columnDefs = [
        {headerName: "No", field: "no", width: 50, cellRenderer: function(params) {
            return '<a href="vendor/' + params.value + '">' + params.value + '</a>';
        }},
        {headerName: "Name", field: "name", width: 350},
        {headerName: "Phone", field: "phone", widt: 100 },
        {headerName: "Contact", field: "contact", width: 100},
        {headerName: "TaxGroup", field : "taxGroup", width : 100},
        {headerName: "Balance", field: "balance", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),

        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        document.getElementById('linkViewVendor').setAttribute('href', 'vendor/' + selectedRow.id);
       // document.getElementById('linkViewClient').setAttribute('href', 'contact?id=' + selectedRow.id + '&partyId=' + selectedRow.holdingPartyId + '&partyType=' + selectedRow.holdingPartyType);
        document.getElementById('linkViewVendor').setAttribute('class', 'btn');
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#vendors');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>