<div class="col-md-12">
    <a href="~/sales/allocate/12" class="btn">
        <i class="fa fa-plus"></i>
        Allocate
    </a>
</div>
<div class="col-md-9">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Customer Information</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            Start creating your amazing application!
        </div>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Allocations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            Start creating your amazing application!
        </div>
    </div>
</div>