@model string

<div>
    <a href="~/sales/addreceipt" class="btn">
        <i class="fa fa-plus"></i>
        New Receipt
    </a>
    <a href="~/sales/allocate/" id="linkAllocate" class="btn inactiveLink">
        <i class="fa fa-tasks"></i>
        Allocate
    </a>
</div>
<div>
    <div id="receipts" class="ag-fresh" style="height: 400px;"></div>
</div>

<script>
    var selectedRow = {};

    var columnDefs = [
        {headerName: "Receipt", field: "id", width: 50},
        {headerName: "No", field: "receiptNo", width: 50},
        {headerName: "Customer Name", field: "customerName", width: 350},
        {headerName: "Receipt Date", field: "receiptDate", width: 100},
        {headerName: "Amount", field: "amount", width: 100},
        {headerName: "Left to Allocate", field: "remainingAmountToAllocate", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        enableSorting: true,
        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        document.getElementById('linkAllocate').setAttribute('href', 'allocate/' + selectedRow.id);

        if(selectedRow.remainingAmountToAllocate > 0)
            document.getElementById('linkAllocate').setAttribute('class', 'btn');
        else
            document.getElementById('linkAllocate').setAttribute('class', 'btn inactiveLink');
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#receipts');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>