@model string

<div>
    <a href="~/sales/addreceipt"><i class="fa fa-plus margin-a"></i>New Receipt</a>
    <a href="~/sales/allocate/1" class="disabled"><i class="fa fa-tasks margin-a"></i>Allocate</a>
</div>
<div>
    <div id="receipts" class="ag-fresh" style="height: 400px;"></div>
</div>
<script>
    var selectedRow = {};

    var columnDefs = [
        {headerName: "Receipt", field: "id", width: 50},
        {headerName: "No", field: "receiptNo", width: 50},
        {headerName: "Customer Name", field: "customerName", width: 350},
        {headerName: "Receipt Date", field: "receiptDate", width: 100},
        {headerName: "Amount", field: "amount", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),

        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
     };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        //var selectedRowsString = '';
        //selectedRows.forEach( function(selectedRow, index) {
        //    if (index!=0) {
        //        selectedRowsString += ', ';
        //    }
        //    selectedRowsString += selectedRow.id;
        //});
        selectedRow = selectedRows[0];
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#receipts');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>