@model string

<div>
    <a href="~/sales/addsalesorder" class="btn">
        <i class="fa fa-plus"></i>
        New Order
    </a>
    <a href="~/sales/salesorder" id="linkViewOrder" class="btn inactiveLink">
        <i class="fa fa-edit"></i>
        View
    </a>
    <a href="~/sales/salesinvoice" id="linkNewInvoice" class="btn inactiveLink">
        <i class="fa fa-plus"></i>
        Create Invoice
    </a>
</div>
<div>
    <div id="salesorders" class="ag-fresh" style="height: 400px;"></div>
</div>
<script>
    var columnDefs = [
        {headerName: "No", field: "no", width: 50},
        {headerName: "Customer Name", field: "customerName", width: 350},
        {headerName: "Order Date", field: "orderDate", width: 100},
        {headerName: "Ref no", field: "referenceNo", width: 100},
        {headerName: "Amount", field: "amount", width: 100},
        {headerName: "Status", field: "status", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        enableSorting: true,
        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
        enableColResize : true
    };

    //gridOptions.api.sizeColumnsToFit();


    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        document.getElementById('linkViewOrder').setAttribute('href', 'salesorder?orderId=' + selectedRow.id);
        document.getElementById('linkViewOrder').setAttribute('class', 'btn');

        document.getElementById('linkNewInvoice').setAttribute('href', 'salesinvoice?orderId=' + selectedRow.id);
        document.getElementById('linkNewInvoice').setAttribute('class', 'btn');

        // If SalesOrderStatus is Fully Invoiced, disable New Invoice link
        if(selectedRow.status == 6)
        {
            document.getElementById('linkNewInvoice').setAttribute('class', 'btn inactiveLink');

        }
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#salesorders');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>