@model string

<div>
    <a href="~/sales/addsalesinvoice" class="btn">
        <i class="fa fa-plus"></i>
        New Invoice
    </a>
    <a href="~/sales/salesinvoice" id="linkViewInvoice" class="btn inactiveLink">
        <i class="fa fa-edit"></i>
        View
    </a>
</div>
<div>
    <div id="salesinvoices" class="ag-fresh" style="height: 400px;"></div>
</div>
<script>
    var columnDefs = [
        {headerName: "No", field: "no", width: 50},
        {headerName: "Customer Name", field: "customerName", width: 350},
        {headerName: "Invoiced Date", field: "invoiceDate", width: 100},
        {headerName: "Amount", field: "amount", width: 100},
        {headerName: "Ref no", field: "referenceNo", width: 100},
        {headerName: "Posted", width: 100, cellRenderer: function(val) {
            if(val.data.posted)
                return '<input type="checkbox" checked disabled />';
            return '<input type="checkbox" disabled />';
        }},
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        enableSorting: true,
        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        document.getElementById('linkViewInvoice').setAttribute('href', 'salesinvoice?invoiceId=' + selectedRow.id);
        document.getElementById('linkViewInvoice').setAttribute('class', 'btn');
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#salesinvoices');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>