<div class="flex items-center border-b mb-6 p-5">
    <a href="/" class="flex items-center">
        <img src="~/images/gbd/logo.png" alt="Logo" style="width:50px; height:50px"/>
        <div class="text-xl font-bold ml-3 px-3"> Good Deed Books</div>
    </a>
</div>
