<ul class="ag-nav">
    <li [class.active]="activeMenu == 'Dashboard'" (click)="setActiveMenu('Dashboard');setActiveView('Dashboard')"><a>Dashboard</a></li>

    <li *ngFor="#menu of menus" [class.active]="activeMenu == menu.displayText" (click)="setActiveMenu(menu.displayText)">
        <a>{{menu.displayText}}</a>

        <ul *ngIf="activeMenu == menu.displayText">
            <li *ngFor="#item of menu.items" [class.active]="activeView == item.displayText" (click)="setActiveView(item.displayText)"><a>{{item.displayText}}</a></li>
        </ul>
    </li>
</ul>

<style>
    ul.ag-nav {
        list-style: none;
        padding: 0;
    }

        ul.ag-nav li ul {
            list-style: circle;
        }

        ul.ag-nav li a {
            color: #8b929a;
            cursor: pointer;
            display: inline-block;
            padding: 10px;
        }

            ul.ag-nav li a:hover {
                color: white;
            }

        ul.ag-nav > li:hover {
            background: #151C26;
        }

        ul.ag-nav li.active {
            background: #262D37;
        }

            ul.ag-nav li.active > a {
                color: white;
            }
</style>