@model Web.Models.ViewModels.Purchases.Vendors
@{
    ViewBag.Title = "Vendors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vendors</h2>

@Html.ActionLink("Add Vendor", "AddOrEditVendor", "Purchasing")
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vendor in Model.VendorsList)
        {
            <tr>
                <td>@Html.ActionLink(string.Format("{0}", vendor.Name), "AddOrEditVendor", new { id = vendor.Id })</td>
                <td>@vendor.Balance</td>
            </tr>
        }
    </tbody>
</table>