<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ApplicationContext" connectionString="data source=localhost;initial catalog=Financials;integrated security=sspi;multipleactiveresultsets=true;Pooling=false" providerName="System.Data.SqlClient"/>
    <add name="ApplicationDbContext" connectionString="data source=localhost;initial catalog=Financials;integrated security=sspi;multipleactiveresultsets=true;Pooling=false" providerName="System.Data.SqlClient"/>
    <!-- Appharbor -->
    <!--<add name="ApplicationDbContext" connectionString="data source=cc97489b-48ac-4d41-bb93-a4040015c884.sqlserver.sequelizer.com;initial catalog=dbd3f7b4db94e044e6adafa40300162fbc;User ID=tetuqkheryhbpgsa;Password=kYuci8jLDGNWUDShdjdEjWJHfCYeCCFYtv56xS8UbhtfSCxmoj8znmYwpT6Nheia;multipleactiveresultsets=true;pooling=false;integrated security=false;" providerName="System.Data.SqlClient"/>
    <add name="ApplicationContext" connectionString="data source=cc97489b-48ac-4d41-bb93-a4040015c884.sqlserver.sequelizer.com;initial catalog=dbd3f7b4db94e044e6adafa40300162fbc;User ID=tetuqkheryhbpgsa;Password=kYuci8jLDGNWUDShdjdEjWJHfCYeCCFYtv56xS8UbhtfSCxmoj8znmYwpT6Nheia;multipleactiveresultsets=true;pooling=false;integrated security=false;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
