@* HTML *@
<div id="griddata" class="container">
</div>
@* ReactJS components *@
<script type="text/babel">
    @* Here we will create 2 react component 1 for rows and another for table  *@
    var TaxGridRow = React.createClass({
    render: function () {
    return (
    <tr>
        <td>{this.props.tax.Rate}</td>
        <td>{this.props.tax.TaxCode}</td>
        <td>{this.props.tax.TaxName}</td>
    </tr>
    );
    }
    });

    var TaxGridTable = React.createClass({
    getInitialState: function(){
    return {
    taxes:[]
    }
    },
    componentDidMount:function(){
    $('#tblTaxes').DataTable({
    "paging": true,
    "lengthChange": false,
    "searching": false,
    "ordering": true,
    "info": true,
    "autoWidth": false
    });
    @* Fetch data via ajax *@
    $.get(this.props.dataUrl, function(data){
    if(this.isMounted()){
    this.setState({
    taxes: data
    });
    }
    }.bind(this));    
    },
    render : function(){
    console.log(this.state.taxes);
    var rows = [];
    var rows = this.state.taxes.map(function(tax){
    return (
    <TaxGridRow key={tax.Id} tax={tax} />);
    });
    return (
    <table id="tblTaxes" className="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Rate</th>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {rows}
        </tbody>
    </table>);
    }
    });

    ReactDOM.render(
    <TaxGridTable dataUrl="http://localhost:44320/api/tax/taxes" />,
    document.getElementById('griddata')
    );
</script>