.main-header > .navbar {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.main-header .logo {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.main-sidebar,
.left-side {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.margin-a{
    margin: 2px;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
   color:gray;
}