body {
    font-family: 'Segoe UI', Verdana, Helvetica, sans-serif;
    font-weight:normal;
}

.main-header > .navbar {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.main-header .logo {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.main-sidebar,
.left-side {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.inactiveLink {
   pointer-events: none;
   opacity: 0.65;
   filter: alpha(opacity=65);
   color:#cabfbf;   
}

.pull-right{
    float: right;
}

.disabledControl {
   pointer-events: none;
   opacity: 0.95;
   filter: alpha(opacity=65);
}