@model Web.Models.ViewModels.Purchases.AddVendor
@{
    ViewBag.Title = "AddVendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Vendor</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label class="col-md-3 control-label">Vendor Name:</label>
        @Html.TextBoxFor(m => m.VendorName)
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Accounts Payable Account:</label>
        @Html.DropDownListFor(m => m.AccountsPayableAccountId, Model.Accounts)
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Purchase Account:</label>
        @Html.DropDownListFor(m => m.PurchaseAccountId, Model.Accounts)
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Purchase Discount Account:</label>
        @Html.DropDownListFor(m => m.PurchaseDiscountAccountId, Model.Accounts)
    </div>
    <input type="submit" value="Save" name="SaveVendor" />
}
