@model string

<div>
    <a href="~/quotations/addsalesquotation"><i class="fa fa-plus margin-a"></i>Add</a>
</div>
<div>
    <div id="quotations" class="ag-fresh"></div>
</div>
<script>
    var columnDefs = [
    {headerName: "Customer No", field: "customerId", width: 50},
    {headerName: "Customer Name", field: "customerName", width: 350},
    {headerName: "Date", field: "quotationDate", width: 100},
    {headerName: "Amount", field: "amount", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),

        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'multiple',
     };

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#quotations');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>
