@model string

<div class="w-full grid grid-cols-1 gap-4">
    <div class="flex gap-2 mb-4">
        <a href="~/quotations/addsalesquotation"
            class="px-4 py-2 bg-darkSecondary text-white rounded hover:bg-opacity-90">
            <i class="fa fa-plus"></i>
            New Quotation
        </a>
        <a href="~/quotations/salesquotationpdo" id="linkViewQuotation"
            class="px-4 py-2 bg-gray-400 text-white rounded disabled">
            <i class="fa fa-edit"></i>
            View
        </a>
        <a href="" id="linkNewOrder" class="px-4 py-2 bg-gray-400 text-white rounded disabled">
            <i class="fa fa-plus"></i>
            New Order
        </a>
    </div>
    <div class="dark:bg-gray-800 shadow-md">
        <div id="quotations" class="ag-fresh overflow-hidden rounded-lg" style="height: 400px;"></div>
    </div>
</div>
<script>
    var columnDefs = [
        { headerName: "No", field: "no", width: 50 },
        { headerName: "Customer Name", field: "customerName", width: 300 },
        { headerName: "Date", field: "quotationDate", width: 100 },
        { headerName: "Amount", field: "amount", width: 100 },
        { headerName: "Ref no", field: "referenceNo", width: 100 },
        { headerName: "Status", field: "salesQuoteStatus", width: 100 }
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        enableSorting: true,
        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        document.getElementById('linkViewQuotation').setAttribute('href', 'Quotation?id=' + selectedRow.id);
        document.getElementById('linkViewQuotation').setAttribute('class', 'px-4 py-2 bg-darkSecondary text-white rounded hover:bg-opacity-90');

        if (selectedRow.status == 3) {
            document.getElementById('linkNewOrder').setAttribute('class', 'px-4 py-2 bg-gray-400 text-white rounded cursor-not-allowed');
        }
        else if (selectedRow.status == 1) {
            document.getElementById('linkNewOrder').setAttribute('href', '/sales/salesorder?quotationId=' + selectedRow.id);
            document.getElementById('linkNewOrder').setAttribute('class', 'px-4 py-2 bg-darkSecondary text-white rounded hover:bg-opacity-90');
        }
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function () {
        var eGridDiv = document.querySelector('#quotations');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>
