@model string

<div>
    <a href="~/quotations/addsalesquotation" class="btn">
        <i class="fa fa-plus"></i>
        New Quotation
    </a>
    <a href="~/quotations/salesquotation" id="linkViewQuotation" class="btn inactiveLink">
        <i class="fa fa-edit"></i>
        View
    </a>
    <a href="" id="linkNewOrder" class="btn inactiveLink">
        <i class="fa fa-plus"></i>
        New Order
    </a>
</div>
<div>
    <div id="quotations" class="ag-fresh"></div>
</div>
<script>
    var columnDefs = [
    {headerName: "No", field: "no", width: 50},
    {headerName: "Customer Name", field: "customerName", width: 350},
    {headerName: "Date", field: "quotationDate", width: 100},
    {headerName: "Amount", field: "amount", width: 100},
    {headerName: "Ref no", field: "referenceNo", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        enableSorting: true,
        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];

        document.getElementById('linkViewQuotation').setAttribute('href', 'quotation?id=' + selectedRow.id);
        document.getElementById('linkViewQuotation').setAttribute('class', 'btn');

        document.getElementById('linkNewOrder').setAttribute('href', '/sales/salesorder?quotationId=' + selectedRow.id);
        document.getElementById('linkNewOrder').setAttribute('class', 'btn');
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#quotations');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>
