@model string

<div>
    <a href="~/quotations/addsalesquotation"><i class="fa fa-plus margin-a"></i>New Quotation</a>
    <a href="~/quotations/salesquotation" id="linkViewQuotation" class="inactiveLink"><i class="fa fa-edit margin-a"></i>View</a>
    <a href="" id="linkNewOrder" class="inactiveLink"><i class="fa fa-plus margin-a"></i>New Order</a>
</div>
<div>
    <div id="quotations" class="ag-fresh"></div>
</div>
<script>
    var columnDefs = [
    {headerName: "Customer No", field: "customerId", width: 50},
    {headerName: "Customer Name", field: "customerName", width: 350},
    {headerName: "Date", field: "quotationDate", width: 100},
    {headerName: "Amount", field: "amount", width: 100}
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Model),
        enableSorting: true,
        // PROPERTIES - simple boolean / string / number properties
        rowSelection: 'single',
        onSelectionChanged: onSelectionChanged,
    };

    function onSelectionChanged() {
        var selectedRows = gridOptions.api.getSelectedRows();
        selectedRow = selectedRows[0];
        
        document.getElementById('linkViewQuotation').setAttribute('href', 'quotation?id=' + selectedRow.id);
        document.getElementById('linkViewQuotation').setAttribute('class', '');

        document.getElementById('linkNewOrder').setAttribute('href', '/sales/salesorder?quotationId=' + selectedRow.id);
        document.getElementById('linkNewOrder').setAttribute('class', '');
    }

    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
        var eGridDiv = document.querySelector('#quotations');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
</script>
